<div class="jumbotron">
  <h1>Craftsy</h1>
</div>
<h1>Welcome to Craftsy</h1>
<hr>
 <ul>
   <% @products.each do |product| %>
   <li class="list-group-item"><%= link_to product.name, product_path(product) %></li>
   <% end %>
 </ul>
 <% if current_user && current_user.admin %>
 <%= link_to "Add product", new_product_path, :class => "btn btn-success" %>
 <% end %>
</div>
